* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: #0e688f;
    --secondary: #f5f7f9;
    --text-dark: #1f2933;
}
body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    background: var(--secondary);
    color: var(--text-dark);
    line-height: 1.6;
}
h1, h2, h3 {
    font-weight: 600;
    margin-bottom: 12px;
    color: var(--text-dark);
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
section {
    padding: 40px 0;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin:auto
}
.navbar {
    background-color: #0e688f;
    padding: 15px;
    color: white;
}
.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-size: 22px;
    margin-bottom: 10px;
    color: white;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}
.menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.menu li a :hover {
    border-bottom: 2px solid white;
    padding-bottom: 4px;
}
.menu-toggle {
    display: none;
    font-size: 26px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
main {
    margin-top: 20px;
}
.hero {
    background: white;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    margin: 20px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.hero h2 {
    font-size: 28px;
    margin-bottom: 15px;
}
.hero p {
    font-size: 16px;
    margin-bottom: 20px;
}
.hero .btn {
    display: inline-block;
    background-color: #0e688f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}
.hero .btn :hover {
    background-color: #095a70;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
    margin-bottom: 30px;
}
.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
    text-align: center;
}
.card h3 {
    margin-bottom: 12px;
}
.card p {
    margin-bottom: 15px;
}
.card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
}
.card .date {
    font-size: 12px;
    color: #555;
    margin-bottom: 10px;
}
.card .btn {
    font-size: 14px;
    padding: 8px 16px;
}
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: var(--primary);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}
.btn :hover {
    opacity: 0.9;
}
footer{
    background: #0e688f;
    color: white;
    padding: 20px 0;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer a :hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .menu .active {
        display: flex;
    }
    .nav-flex {
        flex-direction: column;
        gap: 15px;
    }
    .menu {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .hero {
        padding: 25px;
    }
    .cards {
        grid-template-columns: 1fr;
    }
    .footer-flex {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .footer a {
        margin-left: 0;
        margin-right: 10px;
    }
    
}